  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/plans" <%- title === 'All Death Plans' ? 'class="active"' : "" %> >All Plans</a>
      <a href="/plans/new" <%- title === 'Add Death Plans' ? 'class="active"' : "" %> >Create a Plan</a>
      <a href="/profiles" <%- title === 'All Profiles' ? 'class="active"' : "" %> >All Profiles</a>
      <a 
      href="/dispositions/new" <%- title === 'Add Disposition Method' ? 'class="active"' : "" %> >Add Disposition Method</a>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
